<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method = "POST" action = "/user_input">
    <p>ENter your phrase:<input type="text" name="text"></p>
    <input type="submit" id="Submit">
    </form>

  </body>
</html>
